<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/posts/{{id}}"><p>{{post.title}}</a> created by {{post.user.username}}</p>
        <button id="edit-btn" class="btn btn-outline-success my-1"><a href="/edit-posts/{{id}}">Edit</a></button>

      </div>
      <div class="meta">
        {{#each post.comments as |comment|}}
        <p>{{comment.comment_text}}</p>
        {{/each}}

      </div>
    </article>
  </li>
  {{/each}}
  <button id="edit-btn" class="btn btn-info my-1"><a href="/posts/">Create a blog</a></button>
</ol>
<script src="/javascript/add-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>